---
layout: home
format: grid
banner: /assets/img/hero.jpg
---

{% if paginator and paginator.page == 1 %}

<style>
    .banner {
        width: 100%;
        aspect-ratio: 16 / 9;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div
  class="banner"
  style="background-image: url('{{ page.banner | relative_url }}');">
</div>

<h1>Welcome to Kent Maps Online!</h1>

<p>
Kent Maps Online is an open access, Digital Heritage project developed by Canterbury Christ Church University in collaboration with JSTOR Labs. Our aim is to start new conversations between researchers across all disciplines, with a shared interest in the history of Kent. 
</p>

<p>
Entries draw on a range of archival sources including: maps, pictures and postcards, manuscript records and newspapers. Click on the pin or image icons to view historic maps or pictures integrated into each article.  
</p>

<p>
The site is fully searchable, with hyperlinks on each page, to help you find your own answers to questions you haven’t thought of yet.
</p>

{% include featured_posts.html %}

{% endif %}
