---
layout: home
format: grid
banner: /assets/img/hero.jpg
---

{% if paginator and paginator.page == 1 %}

<style>
    .banner {
        width: 100%;
        aspect-ratio: 16 / 9;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div
  class="banner"
  style="background-image: url('{{ page.banner | relative_url }}');">
</div>

<h1>Welcome to Kent Maps Online!</h1>

<p>
Welcome to Kent Maps Online, where the landscapes, stories, and creative spirit of southeast England come alive through interactive exploration. 
</p>

<p>
This free digital heritage project invites you to wander through centuries of Kentish history—from its dramatic coastlines and historic towns to the writers, artists, and communities who have called this county home. Whether you're curious about the literary footprints left in Broadstairs, the maritime heritage of Dover, or the hidden stories of Kent's Black history and inspirational women writers, our themed essays and interactive maps let you forge your own path of discovery. 
</p>

<p>
Developed by Canterbury Christ Church University's Centre for Kent History and Heritage and brought to life by a diverse community of volunteer authors, researchers, and contributors, Kent Maps Online brings together local knowledge, scholarly research, and passionate voices to create a rich, exploratory experience of this remarkable corner of England. Dive in, follow your curiosity, and see Kent through new eyes.
</p>

{% include featured_posts.html %}

{% endif %}
